.App {
	text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Comfortaa:wght@400&display=swap');
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
h1 {
	font-family: 'Baloo Thambi 2';
}
h4 {
	font-family: 'Baloo Thambi 2';
}
#startButton {
	height: 40px;
	width: 220px;
	margin: 30px 0px 30px 0px;
}
p {
	font-family: 'Comfortaa';
}
.formButton {
	border: solid black 3px;
	border-radius: 20px;
	background-color: white;
	font-weight: bolder;
	height: 30px;
	font-family: 'Comfortaa';
	width: 80%;
	cursor: pointer;
}

#result {
	text-align: center;
}

.resultSlide {
	background-color: white;
	width: 50%;
	height: 50%;
}

#singleModal {
	border: solid black 5px;
	border-radius: 15px;
	background-color: #53ffbd;
}

select {
	font-family: 'Comfortaa';
	margin: 5% 0% 5% 0%;
	border: solid black 3px;
	border-radius: 15px;
	height: 30px;
	text-align: center;
}

.button {
	cursor: pointer;
	border: solid black 3px;
	border-radius: 20px;
	background-color: white;
	font-weight: bolder;
	height: 30px;
	font-family: 'Comfortaa';
}
.buttonContainer {
	display: flex;
	flex-direction: column;
	background-color: #53ffbd;
}

.modal {
	width: 50%;
	height: 50%;
	border: solid black 5px;
	border-radius: 15px;
	background-color: #53ffbd;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
